*{
    padding: 0;
    margin: 0;
    border: 0;
}
    body{
        background-color: pink;
    }

article{
     width:100%;
     height:auto;
}
section{
     width:calc(16.66666666666667% - 12px);
     height: 200px;
     margin-right:10px;
     margin-top:10px;
     background:linear-gradient(black,gray,black);
     float: right;
}
@media screen and (max-width:800px){
    section{
        width:calc(25% - 12px);
        height: 200px;
        margin-right:10px;
        margin-top:10px;
        float:right;
        background:linear-gradient(black,gray,black);

    }
    section : nth-child(2n+1) {
        background-color: #44f322;
    }

}
@media screen and (min-width:800px){
    section{
        width: calc(33.33333333333333% - 12px);
        height: 200px;
        margin-right:10px;
        margin-top:10px;
        float:right;
        background:linear-gradient(green,gray,red);
    }

}
@media screen and (min-width:980px){
    section{
        width: calc(50% - 12px);
        height: 200px;
        margin-right:10px;
        margin-top:10px;
        float:right;
        background:linear-gradient(blue,gray,black);
    }

}
@media screen and (min-width:1280px){
    section{
        width: calc(100% - 12px);
        height: 200px;
        margin-right:10px;
        margin-top:10px;
        float:right;
        background:linear-gradient(orange,gray,yellow);
    }

}
